<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  </link>
  <title>Login</title>
</head>

<body>

  <form id="roomtype-form" class="create-hotel">
    <div id="message"></div>
    <input type="text" name="name" placeholder="Hotel Name" />
    <input type="text" name="description" placeholder="Room Description" />
    <input type="text" name="price" placeholder="Price" />
    <input type="number" name="room-count" placeholder="Room Count" />
    <input type="number" name="room-start" placeholder="Room Start" />
    <input type="button" name="add" onclick="addRoomType('<%= hotelId %>')" />
  </form>

  <div id="list" class="roomtype-list"></div>

  <a href="/admin/hotels">Done</a>

</body>

<script>
  async function addRoomType(hotelId) {
    console.log("hotelId", hotelId);
    const form = document.getElementById("roomtype-form");

    try {
      const formData = new FormData(form);
      const name = formData.get('name');
      const description = formData.get('description');
      const price = formData.get('price');
      const roomCount = formData.get('room-count');
      const roomStart = formData.get('room-start');

      const body = {
        name: name,
        description: description,
        price: price,
        hotelId: hotelId,
        room_count: roomCount,
        room_start: roomStart
      };

      const response = await fetch('/admin/roomtypes', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body),
      })

      const data = await response.json();

      if (response.status !== 200) {
        document.getElementById('message').innerHTML = data.message;
        return;
      }

      document.getElementById("list").innerHTML += `<div class="reservation-card">
          <div class="info-column">
              <p>${data.name}</p>
              <p>${data.price}</p>
          </div>
  </div>`;
      return;
    } catch (error) {
      console.error('Error:', error);
      document.getElementById('message').innerHTML = error;
      return;
    }
  }
</script>

</html>